:root{
    margin: 0;
    padding: 0;
    background-color: #242020;
    font-size: 65,2%;
  }
  @media (max-width: 768px) {
    /* Estilos para tablets e celulares */
  }
  @media (max-width: 480px) {
    /* Estilos específicos para celulares menores */
  }
  
  
  .nome {
    width: 768px;
    height: 93px;
  
  }
  .container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se quebrem em uma nova linha */
    justify-content: space-around; /* Distribui os itens com espaço ao redor */
  }
  
  .item {
    flex: 1 1 200px; /* Item flexível com um tamanho mínimo de 200px */
    margin: 10px;
  }
  
  .nome .text-wrapper {
    position: fixed;
    width: 768px;
    top: 480px;
    left: 570px;
    font-family: 'Zen Dots';
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  .portifolio {
    width: 450px;
    height: 46px;
  }
  
  .portifolio .text-wrapper {
    position: fixed;
    width: 450px;
    top: 450px;
    left: 570px;
    font-family: "Zen Dots";
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  
  #menu ul {
    padding:0px;
    margin:0px;
    background-color:transparent;
    list-style:none;
      text-decoration: none;
  }    
  .menu ul li{
      /*Visual do link*/
      padding: 0;
      margin:0px;
      list-style:none;
      background-color: transparent;
      color: white;
      float:left;
      width: 150px;
      display: inline-block;
      text-align: center;
      line-height: 40px;
      position: relative;
      top: 50px;
      left: 20px;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
  }   
  /*Quando o mouse estiver sobre o menu*/
  .menu ul li:hover{
    background-color: black;
    color: white;
    border-bottom:3px solid white;
      font-weight: bold;
  }
  #menu2{
      left: -40px;
      position: relative;
      top: auto;
  }
  #menu3{
      left: 110px;
      position: relative;
      top: auto;
  }
  #menu4{
      left: 90px;
      position: relative;
      top: auto;
      left: auto;
  }
  .menu ul ul{
      display: none;
      position: absolute;
  }
  .menu ul li:hover > ul{
      display: block;
  }
  #menu ul li { display: inline-block; }
  
  .menu ul ul ul{
      top: 0px;
      position: absolute;
      left: 1px;
  }
  .menu ul ul li{
      background-color: black;
  
  }
 
  #raudineyRack{
    position: absolute;
    top: 220px;
    left: 220px;
    height: 600px;
    width: 420px;
  }
  
  
  /* MEus TRabalhos */
  #tituloWork{
    color: white;
    font-family: 'Zen Antique';
    font-size: 46px;
    position: absolute;
    top: 180px;
    left: 700px;
  }
  
  #tituloWork2{
  
    color: white;
    font-family: 'Zen Antique';
    font-size: 18.5px;
    position: absolute;
    top: 350px;
    left: 120px;
  }

  #Lista_espera{
    color: white;
    font-family: 'Zen Antique';
    font-size: 18.5px;
    position: absolute;
    top: 430px;
    left: 120px;
  }
  #Lista_espera_texto{
    color: white;
    font-family: 'Zen Antique';
    font-size: 15.5px;
    position: absolute;
    top: 470px;
    left: 120px;
    width: 1500px;
  }

  #Tabela_Lde{
    position: absolute;
    top: 720px;
    left: 120px;
    height: 380px;
    /* width: 320px; */

  }
  #Grafico_Lde{
    position: absolute;
    top: 720px;
    left: 890px;
    height: 380px;
  }

  #tela_login{
    position: absolute;
    top: 710px;
    left: 1500px;
    /* height: 380px;
    width: 100px; */
  }

  #site{
    position: absolute;
    top: 1120px;
    left: 120px;
    color: white;
    font-family: 'Zen Antique';
    font-size: 18.5px;
  }

  #site_texto{
    position: absolute;
    top: 1160px;
    left: 120px;
    color: white;
    font-family: 'Zen Antique';
    font-size: 15.5px;
    width: 1200px;
  }

  #raud_menu{
    position: absolute;
    top: 1250px;
    left: 120px;
    height: 300px;
    width: 600px;
  }

  #raud_site{
    position: absolute;
    top: 1250px;
    left: 890px;
    height: 300px;
    width: 600px;
  }



  #titRack{
    position: absolute;
    top: 1700px;
    left: 120px;
    color: white;
    font-family: 'Zen Antique';
    font-size: 18.5px;
  }

  #rack_texto{
    position: absolute;
    top: 1750px;
    left: 120px;
    color: white;
    font-family: 'Zen Antique';
    font-size: 16.5px;
    width: 1700px;
  
  }

  #imagemCabosRack{
    position: absolute;
    top: 1950px;
    left: 120px;
    height: 380px;
    width: 320px;
  }
  
  #imagemMontagem{
    position: absolute;
    top: 1950px;
    left: 540px;
    height: 390px;
    width: 320px;
  }

  #racktraseira{
    position: absolute;
    top: 1950px;
    left: 990px;
    height: 380px;
    width: 320px;
  }
  
  #frenteRack{
    position: absolute;
    top: 1950px;
    left: 1450px;
    height: 380px;
    width: 320px;
  }
  
  #github{
    position: relative;
    top: 2500px;
    right: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
  
  }

  #facebook{
    position: relative;
    top: 2500px;
    left: 30px;
    width: 40px;
    height: 40px;
  } 
  
  #instagram{
    position: relative;
    top: 2500px;
    left: 50px;
    right: 10px;
    width: 45px;
    height: 45px;
  }
  
  #linkedin{
    position: relative;
    bottom: 0;
    top: 2500px;
    left: 65px;
    right: 0;
    width: 45px;
    height: 45px;
}
