:root{
  margin: 0;
  padding: 0;
  background-color: #242020;
  font-size: 65,2%;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se quebrem em uma nova linha */
  justify-content: space-around; /* Distribui os itens com espaço ao redor */
}

.item {
  flex: 1 1 200px; /* Item flexível com um tamanho mínimo de 200px */
  margin: 10px;
}

.nome {
  width: 768px;
  height: 93px;

}

.nome .text-wrapper {
  position: fixed;
  width: 768px;
  top: 480px;
  left: 570px;
  font-family: 'Zen Dots';
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}
.portifolio {
  width: 450px;
  height: 46px;
}

.portifolio .text-wrapper {
  position: fixed;
  width: 450px;
  top: 450px;
  left: 570px;
  font-family: "Zen Dots";
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}


#menu ul {
  padding:0px;
  margin:0px;
  background-color:transparent;
  list-style:none;
    text-decoration: none;
}    
.menu ul li{
    /*Visual do link*/
    padding: 0;
    margin:0px;
    list-style:none;
    background-color: transparent;
    color: white;
    float:left;
    width: 150px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    position: relative;
    top: 50px;
    left: 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}   
/*Quando o mouse estiver sobre o menu*/
.menu ul li:hover{
  background-color: black;
  color: white;
  border-bottom:3px solid white;
    font-weight: bold;
}
#menu2{
    left: -40px;
    position: relative;
    top: auto;
}
#menu3{
    left: 110px;
    position: relative;
    top: auto;
}
#menu4{
    left: 90px;
    position: relative;
    top: auto;
    left: auto;
}
.menu ul ul{
    display: none;
    position: absolute;
}
.menu ul li:hover > ul{
    display: block;
}
#menu ul li { display: inline-block; }

.menu ul ul ul{
    top: 0px;
    position: absolute;
    left: 1px;
}
.menu ul ul li{
    background-color: black;

}



#github{
  position: relative;
  top: 720px;
  right: 10px;
  left: 10px;
  width: 50px;
  height: 50px;

}
#facebook{
  position: relative;
  top: 720px;
  left: 30px;
  width: 40px;
  height: 40px;
} 

#instagram{
  position: relative;
  top: 720px;
  left: 50px;
  right: 10px;
  width: 45px;
  height: 45px;
}

#linkedin{
  position: relative;
  top: 720px;
  left: 65px;
  right: 10px;
  width: 45px;
  height: 45px;
}


#cursos{
  color: white;
  font-size: 15.6px;
  position: absolute;
  left: 945px;
  top: 260px;
  font-family: 'Zen Antique';
  width: 700px;
}
#tituloCursos{
  color: white;
  font-size: 20.5px;
  font-family: 'Zen Antique';
  position: absolute;
  left: 957px;
  top: 190px;

}
#tituloEducacao{
  
  font-size: 46px;
  position: absolute;
  top: 180px;
  left: 125px;
  font-family: 'Zen Antique';
  color: white;
}

/* Escolaridade IFPB */
#cursoIFPB{
  color: white;
  position: absolute;
  top: 380px;
  left: 125px;
  font-family: 'Zen Antique';
  font-size: 20.5px;
  position: absolute;
  left: 125px;
  width: 600px
}

#escolaIFPB{
  color: white;
  left: 125px;
  font-family: 'Zen Antique';
  font-size: 15.6px;
  position: absolute;
  top: 440px;
  width: 600px

}

#conteudoIFPB{
  color: white;
  left: 100px;
  font-family: 'Zen Antique';
  font-size: 14.6px;
  position: absolute;
  top: 420px;
  width: 600px

}

/* Escolaridade Uniasselvi */
#cursoUniasselvi{
  color: white;
  position: absolute;
  top: 580px;
  left: 125px;
  font-family: 'Zen Antique';
  font-size: 20.5px;
  left: 125px;
  width: 600px
}

#escolaUniasselvi{
  color: white;
  left: 125px;
  font-family: 'Zen Antique';
  font-size: 15.6px;
  position: absolute;
  top: 640px;
  width: 600px

}

#conteudoUniasselvi{
  color: white;
  left: 100px;
  font-family: 'Zen Antique';
  font-size: 14.6px;
  position: absolute;
  top: 620px;
  width: 600px

}  
